/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f2f2f2;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Para centrar el contenido verticalmente */
}

.top-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end; /* Para alinear el contenido abajo */
}

.logo-container {
    display: flex;
    justify-content: center; /* Cambiado de "flex-start" a "center" */
    align-items: center;
    margin-bottom: 60px;
    width: 100%; /* Añadido para ocupar todo el ancho disponible */
}

.logo-container img {
    height: 210px;
    width: 210px;
}

.top-info {
    font-size: 0.9rem;
    margin-bottom: 10px; /* Espacio inferior agregado */
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 90px;
    display: flex;
    justify-content: flex-end; /* Para alinear el menú a la derecha */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Para alinear el menú a la derecha */
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}

/* Contenido principal */
main {
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero {
    text-align: center;
}

.hero img {
    max-width: 100%;
    height: auto;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.product img {
    max-width: 100%;
    height: auto;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilos para el formulario de contacto */
contacto {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

form div {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
    align-items: center;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}
